* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	font-size: 18px;
	font-weight: 600;
	color: #757575;
	background: #F6F5F4;
	/*font-family: 'Dela Gothic One', cursive;*/
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.04em;
}

.container{
	max-width: 1180px;
	margin: 0 auto;
	flex-direction: column;
}

.title {
	font-family: 'Dela Gothic One', cursive;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	color: #000000;
}

.descr {
	font-size: 18px;
	line-height: 25px;
	padding: 30px 0px 32px 0px;
}

.btn {
	padding: 14px 22px 14px 22px;
	max-width: 200px;
	background: #C3DCE3;
	border-radius: 100px;
	padding: 14px 22px;
	gap: 19px;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #2B788B;
	letter-spacing: -0.04em;
}

.btn:hover {
	color: #FFFFFF;
	background: #2B788B;
	transition: .3s all;
}

.header {
	padding: 30px 0px 30px 0px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__left {
	display: flex;
}

.menu__list{
	display: flex;
	gap: 30px;
	margin-left: 60px;
}

.menu__list-link {
	font-size: 16px;
	line-height: 22px;
	color: #757575;
}

.menu__list-link:hover {
	color: #000000;
}

.user {
	display: flex;
	gap: 30px;
}

.user__logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.user__icon {
	width: 41px;
	height: 40px;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #2B788B;
	background: #C3DCE3;
	border-radius: 100px;
	padding: 9px 14px;
	gap: 14px;
}

.user__name {
	font-size: 16px;
}

.user__btn {
	background: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #000000;
}

.welcome {
	padding: 103px 0px 94px 0px;
	/*background: url(../images/welcome__bg.png);
	background-repeat: no-repeat;*/
}

.welcome__inner {
	display: flex;
}

.welcome__left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 531px;
	
}

.welcome__subtitle {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.14em;
	text-transform: uppercase;
	color: #2B788B;
}

.welcome__title {
	padding-top: 24px;
	font-family: 'Dela Gothic One', cursive;
	font-weight: 400;
	font-size: 56px;
	line-height: 67px;
	color: #000000;
}

.descr.welcome__descr {
	max-width: 397px;
}

.welcome__media {
	margin-top: 49px;
	display: flex;
	gap: 98px;
}


.welcome__image {
	position: relative;
	width: 609px;
	right: 25px;
}


.learning {
	padding: 75px 0px 75px 0px;
}

.learning__content {
	display: flex;
	justify-content: space-between;
}

.learning__title {
	max-width: 475px;
}

.learning__descr {
	max-width: 396px;

}

.learning__icons {
	display: flex;
	gap: 21px;
}

.learning__item {
	text-align: center;
}


.left {
	width: 129px;
	height: 112px;
	background: #F2D4DC;
	border-radius: 14px;
}

.learning__text{
	position: relative;
	bottom: 19px;
	background: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #945069;
}


.text__right {
	color: #2B788B;
}

.learning__boots-img {
	position: relative;
	bottom: 14px;
}

.right {
	width: 172px;
	height: 112px;
	background: #C3DCE3;
	border-radius: 14px;
}


.learning__audio-img {
	position: relative;
	bottom: 21px;
	left: 10px;
}

.vocabulary__inner {
	display: flex;
}


.vocabulary__left {
	padding: 136px 0px 109px 0px;
}

.vocabulary__right {
	padding-top: 26px;
}

.progress {
	padding-bottom: 95px;
}

.progress__inner {
	display: flex;
}

.progress__left{
	padding-top: 95px;
}

.progress__right {
	padding-top: 149px;
	max-width: 475px;
}

.footer {
	padding: 40px 0px 40px 0px;
}

.footer__top {
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #E0E0E0;
}

.menu__top {
	margin-left: 0px;	
}

.footer__item {
	font-size: 14px;
}

.footer__bottom {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.footer__media{
	display: flex;
	align-items: center;
	gap: 30px;
}


.footer__contacts {
	font-size: 12px;
}

.footer__link {
	color: #757575;
	text-decoration: underline;
}

